@import url("https://fonts.googleapis.com/css2?family=Iceland&display=swap");

:root {
  --titleColor: var(--numberButtonsColor);
  --backgroundColor: black;
  --numberButtonsColor: #ffac41;
  --mathSymButtonColor: #ff1e56;
  --displayTextColor: white;
  --displayBackgroundColor: var(--buttonHoverColor);
  --buttonHoverColor: black;
  /* --buttonHoverColor: #636363; */
  --calculatorBackgroundColor: #323232;
}

::-webkit-scrollbar {
  width: 1vh;
}


::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px var(--displayTextColor);
}

::-webkit-scrollbar-corner {
  background: #000;
}

body {
  font-family: "Iceland", cursive;
  background-color: var(--backgroundColor);
}

header h1 {
  border-radius: 12em;
  border-style: solid;
  border-width: 0.5vh;
  text-align: center;
  font-size: 6vh;
  color: var(--titleColor);
  height: 7vh;
}

#calContainer {
  border-top-right-radius: 3em;
  border-top-left-radius: 3em;
  display: flexbox;
  background-color: var(--calculatorBackgroundColor);
  padding: 2vmin;
  border-radius: 2em;
}

/* #numDisplayContainer {
  display: flex;
  border: solid;
  border-width: 2px;
  justify-content: end;
  height: 3em;
} */

#numDisplay {
  --radius: 6vw;
  border-top-right-radius: var(--radius);
  border-top-left-radius: var(--radius);
  text-align: right;
  justify-self: center;
  padding-right: 2vw;
  overflow: scroll;
  overflow-y: hidden;
  height: 7vh;
  font-size: 4.5vh;
  background-color: var(--displayBackgroundColor);
  color: var(--displayTextColor);
  scrollbar-color: var(--displayTextColor) var(--displayBackgroundColor);
}

/* container stores digits and math functions */
#lowerCalContainer {
  display: flex;
  border-width: 2px;
}

/* affects all buttons */
#lowerCalContainer td {
  text-align: center;
  width: 100em;
  font-family: "Iceland", cursive;
  font-size: 200%;
  border-radius: 2em;
  border-width: 0.5vh;
}

/* affects all buttons on hover*/
#lowerCalContainer td:hover {
  cursor: pointer;
  background-color: var(--buttonHoverColor);
}

#digitContainer {
  display: flexbox;
  border: solid;
  border-width: 2px;
  width: 50%;
}

#mathFuncContainer {
  display: flexbox;
  border: solid;
  border-width: 2px;
  width: 50%;
}

/** number buttons */
#digitContainer td {
  border: solid;
  height: 15.48vh;
  width: 40vw;
  border-width: 2px;
  color: var(--numberButtonsColor);
  font-size: 13vmin;
}

#mathFuncContainer td {
  border: solid;
  border-width: 2px;
  height: 21vh;
  width: 40vw;
  font-size: 20vmin;
  color: var(--mathSymButtonColor);
}

/* stop text form highlighting on click */
.disable-select {
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}
