@import url("https://fonts.googleapis.com/css2?family=Iceland&display=swap");

:root {
  --titleColor: var(--numberButtonsColor);
  --backgroundColor: black;
  --numberButtonsColor: #ffac41;
  --mathSymButtonColor: #ff1e56;
  --displayTextColor: white;
  --buttonHoverColor: black;
  --calculatorBackgroundColor: #323232;
  --displayBackgroundColor: var(--buttonHoverColor);
  --radius: 0.9em;
}

::-webkit-scrollbar {
  width: 1vh;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px var(--displayTextColor);
}

::-webkit-scrollbar-corner {
  background: #000;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Iceland", cursive;
  background-color: var(--backgroundColor);
}

header h1 {
  border-radius: 12em;
  border-style: solid;
  border-width: 0.5vh;
  text-align: center;
  font-size: 6vh;
  color: var(--titleColor);
  height: 7vh;
}

a:link {
  text-decoration: none;
}

header h1:hover {
  background-color: var(--calculatorBackgroundColor);
}

#calContainer {
  border-top-right-radius: 3em;
  border-top-left-radius: 3em;
  display: flexbox;
  background-color: var(--calculatorBackgroundColor);
  padding: 2vmin;
  border-radius: 1.5em;
  border-style: groove;
}

#numDisplayContainer {
  display: flex;
  height: 7vh;
}

#numDisplay {
  border-top-right-radius: var(--radius);
  border-top-left-radius: var(--radius);
  text-align: right;
  padding-right: 0.75em;
  overflow: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  padding-top: 1vh;
  width: 100em;
  font-size: 4.5vh;
  background-color: var(--displayBackgroundColor);
  color: var(--displayTextColor);
  scrollbar-color: var(--displayTextColor) var(--displayBackgroundColor);
}

/* container stores digits and math functions */
#lowerCalContainer {
  display: flex;
  border-width: 0.5vh;
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  border-style: solid;
  border-color: var(--backgroundColor);
}

/* affects all buttons */
#lowerCalContainer td {
  text-align: center;
  width: 100em;
  font-family: "Iceland", cursive;
  font-size: 200%;
  border-radius: 0.3em;
  border-width: 0.5vh;
  border-style: solid;
}

/* affects all buttons on hover*/
#lowerCalContainer td:hover {
  cursor: pointer;
  background-color: var(--backgroundColor);
  transform: scale(1.05);
  transition: background-color 0.3s;
}

#lowerCalContainer td:active {
  color: var(--displayTextColor);
  transform: scale(0.95);
  transition: color;
  /*   transition-duration: 0.2s; */
}

#digitContainer {
  display: flexbox;
  width: 50%;
  padding: 1vmin;
  padding-right: 0.5vmin;
  border-right-style: dotted;
}

#mathFuncContainer {
  display: flexbox;
  width: 50%;
  padding: 1vmin;
  padding-left: 0.5vmin;
}

/** number buttons */
#digitContainer td {
  height: 15.48vh;
  width: 40vw;
  color: var(--numberButtonsColor);
  font-size: 13vmin;
}

#mathFuncContainer td {
  height: 21vh;
  width: 40vw;
  font-size: 20vmin;
  color: var(--mathSymButtonColor);
}

/* stop text form highlighting on click */
.disable-select {
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}
